{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div style="margin-top: 15%" class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
  <!-- Email input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" name="username"  id="form2Example1" class="form-control"/>
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="password" name="password" id="form2Example2" class="form-control"/>
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button  type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
  </div>
</form>

        </div>
    </div>
    </div>
    <br>
<footer class="bg-dark text-white pt-5 pb-4" style="background-color: #0d1263 !important;">
  <div class="container text-md-left">
    <div class="row text-md-left">

      <!-- GAMING -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Gaming</h5>
        <p><a href="#" class="text-white text-decoration-none">Nintendo Switch</a></p>
        <p><a href="#" class="text-white text-decoration-none">Playstation 5</a></p>
        <p><a href="#" class="text-white text-decoration-none">Playstation 4</a></p>
        <p><a href="#" class="text-white text-decoration-none">Xbox Series X</a></p>
        <p><a href="#" class="text-white text-decoration-none">Xbox One</a></p>
        <p><a href="#" class="text-white text-decoration-none">PC/Mac</a></p>
      </div>

      <!-- OTHER OFFERS -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Other Offers</h5>
        <p><a href="#" class="text-white text-decoration-none">Digital Store</a></p>
        <p><a href="#" class="text-white text-decoration-none">Collectibles</a></p>
        <p><a href="#" class="text-white text-decoration-none">More Essentials</a></p>
        <p><a href="#" class="text-white text-decoration-none">Pre-Orders</a></p>
        <p><a href="#" class="text-white text-decoration-none">Hot Deals</a></p>
        <p><a href="#" class="text-white text-decoration-none">Payment Methods</a></p>
        <p><a href="#" class="text-white text-decoration-none">DB Rewards</a></p>
      </div>

      <!-- CUSTOMER SERVICE -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Customer Service</h5>
        <p><a href="#" class="text-white text-decoration-none">Return and Exchange</a></p>
        <p><a href="#" class="text-white text-decoration-none">Order Cancellation</a></p>
        <p><a href="#" class="text-white text-decoration-none">Product Warranty</a></p>
        <p><a href="#" class="text-white text-decoration-none">FAQs</a></p>
        <p><a href="#" class="text-white text-decoration-none">Store Locations</a></p>
        <p><a href="#" class="text-white text-decoration-none">Contact Us</a></p>
      </div>

      <!-- FOLLOW US -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Follow Us</h5>
        <p><a href="#" class="text-white text-decoration-none">Facebook</a></p>
        <p><a href="#" class="text-white text-decoration-none">Twitter</a></p>
        <p><a href="#" class="text-white text-decoration-none">Instagram</a></p>
      </div>

      <!-- EXPLORE -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Explore</h5>
        <p><a href="#" class="text-white text-decoration-none">Careers</a></p>
      </div>
    </div>

    <!-- COPYRIGHT -->
    <div class="row">
      <div class="col-12 mt-4 text-center">
        <p class="text-white-50">&copy; 2025 by TemuBlitz. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
{% endblock content %}